<style>
    div.uipropedit {width: 200px; min-height: 300px; background: #fff}
    div.uipropedit div.proprow {background: rgb(240,240, 240);padding: 1px}
    div.uipropedit div.proprow>span {display: block;height: 22px;}
    div.uipropedit span.key{width: 87px; float: left; background: rgb(240,240, 240); text-align: right; padding: 1px 3px; }
    div.uipropedit span.value{width: auto; margin-left: 100px; background: #fff; }
    
    fieldset.uidesigner {width: auto;min-height: 300px; padding: 10px;position:  relative; }
    .uiitem {width: auto;border: 1px solid gray; padding: 10px 10px 6px 10px;margin: 3px 0;}
    .uiitem.focus { background: #E6E6E6 }
    .uiitem > div { height: 30px; }
    .uiitem > fieldset{ margin: 10px 0; display: none}
    .uiitem:hover > fieldset{ display: block;}
    .uiitem.focus > fieldset{ display: block;}
    .uiitem.tmpl {border: 1px dotted gray; }
    .uiitem.tmpl>fieldset {display: none; }
    .uiitem-label {display: none;font-weight: bold;margin-bottom: 1em}
    .uiitem-icon {float: left;height: 32px;width: 32px; border: 1px solid gray ;margin: -5px 5px -5px 0;vertical-align: middle;}
    input.ui { display: block; vertical-align: middle; float: left;}
    .uiitem-description {display: block; margin-left: 300px; margin: 0 0 0 240px;padding: 2px; width: auto; height: 32px;}
</style>

<fieldset class="uidesigner">

    
</fieldset>



<script>
    var uis = [
                {
                    value: "iui-form",
                    label: "Form",
                    desc: "存放录入框的容器，所有录入框都必须放入一个Form 里面.",
                    icon: "form.png"
                },
                {
                    value: "iui-queryparams",
                    label: "QueryParams",
                    desc: "查询条件录入界面.根据查询参数自动生成",
                    icon: "queryparams.png"
                },
                {
                    value: "iui-toolbar",
                    label: "Toolbar",
                    desc: "工具条，下级是各种按钮",
                    icon: "toolbar.png"
                }
            ];

    var ucConfig = {
        PageButton: {
            type: { hint: '类型' },
            name: {},
            caption: {},
            hint: {},
            form: {},
            biz: {},
            action: {},
            moduleID: {},
            href: {}
        },
        QueryParams: {
            name: {}, mq: {}, fieldMeta: {}, grid: {}, button: {}
        },
        xyForm: { name: {}, method: {}, action: {}, table: {} },
        Toolbar: { name: {} }
    };

    var prop2tmpl = function (element, type, itemid) {
        var result = { props: [], itemid: itemid };
        for (var i in ucConfig[type])
            result.props.push({ key: i, value: $(element).attr(i) });
        return result;
    }

    var uiitem = function (item) {
        $(item).children('div').children('.uiitem-description, .ui, .uiitem-id').click(function () {
            var designer = $(this).closest('.uidesigner');
            var item = $(this).closest('.uiitem');
            designer.find('.uiitem').removeClass('focus');

            item.addClass('focus');
            var pe = $('.uipropedit');
            var id = item.attr('id');
            if (pe.attr('itemid') == id) { }
            else {
                if (pe.size() > 0) pe.closest('.ui-dialog').remove();
                $('#tpuipropedit').tmpl(prop2tmpl(this, "PageButton", id)).appendTo(designer).dialog().find('input').change(function () {
                    var uiitem = $('#' + $(this).closest('.uipropedit').attr('itemid'));
                    uiitem.attr($(this).attr('key'), $(this).val());
                });
            }
            return false;
        });
    }
    var tmplitem = function (item) {
        $(item).find('.ui').autocomplete({
            minLength: 0,
            source: uis,
            focus: function (event, ui) {
                $("#ui").val(ui.item.label);
                return false;
            },
            select: function (event, ui) {
                var p = $(this).closest('.uiitem');
                p.find('.ui').val('').end().find('.uiitem-description').text('');
                var newitem = $("#tpuiitem").tmpl({
                    "ui": ui.item.label,
                    "id": ui.item.value,
                    "description": ui.item.desc,
                    "icon": ui.item.icon,
                    itemid: 'uiitem' + Math.random().toString().substring(2)
                }).insertBefore(p).removeClass('tmpl');
                uiitem(newitem);
                tmplitem(newitem.find('.uiitem.tmpl'));
                return false;
            }
        }).data("autocomplete")._renderItem = function (ul, item) {
            return $("<li>")
                    .data("item.autocomplete", item)
                    .append("<a>" + item.label + "<br>" + item.desc + "</a>")
                    .appendTo(ul);
        };
    }

    $(function () {
        $('.uidesigner').click(function () {
            $(this).find('.uiitem').removeClass('focus');
        });
        tmplitem($("#tpuiitem").tmpl([{ tmpl: true}]).appendTo(".uidesigner"));

    });


</script>