<style>
    .metaObject{margin: 5px; font-size: 0.88em;}
    .metaPath { float: left;width: 400px}
    .tbdesigner {border: 1px solid #DEDEDE; background: #fff    }
</style>

<div id="path_p${_id}" align="top" layout="h" style='height: 32px;margin: 5px;font-size: 0.88em'>
    <div id="path${_id}" style="width: 400px" align="left"></div>
    <div align="auto" id="toolbar${_id}" class='tbdesigner'></div>
</div>

<div id="design${_id}" align="auto" style="overflow: auto" ></div>

<script>
    $('#design${_id}').jsoneditor({{html str}}, "${type}")
    .jsoneditorcreateNavigation('#path${_id}', {homePath: "${type}"});
    $(function(){
        $('#design${_id}').parent().layout();        
    });
</script>
