<style>
    .metaObject{margin: 5px; font-size: 0.88em;}
    .tbdesigner {border: 1px solid #DEDEDE; background: #fff ;padding: 4px 4px 0 4px;   }
    .tbdesigner>a{display: inline-block; height: 16px; width: 16px;vertical-align: middle; margin: 2px 4px;}

</style>

<div id="path_p${_id}" align="top"  style='height: 32px;margin: 5px;'>
    <div id="path${_id}" ></div>
</div>

<form id="design${_id}" align="auto" style="overflow: auto; border: 1px solid #d3d3d3; margin: 5px;" ></form>
<div id="preview${_id}" align="auto"  style="overflow: auto; border: 1px solid #d3d3d3; display: none" ></div>

<script>
    $('#design${_id}').jsoneditor({{html str}}, "${type}")
        .jsoneditorcreateNavigation('#path${_id}', { homePath: "${type}" });

    var doc_cmd = function (cmd) {
        var currPath = $('[zw][path]').attr('path');
        if (currPath) {
            var r = /MetaModule\.ModulePages\.(\d+)/ig.exec(currPath);
            if (r) {
                $("#design${_id}").hide('slide', {}, 500, function () {
                    $("#" + cmd + "${_id}").show('slide', {}, 500, function () {
                        if (cmd == "preview") $("#" + cmd + "${_id}").indicator({ load: true }).load('/emulator/preview?_id=${_id}&page=1');
                    });

                });
            }

        }
        return false;
    }
    $(function () {
        $('#design${_id}').parent().layout();
        $('#toolbar').toolbar({
            design: function () {
                $("#design${_id}").parent().children('[align=auto]').hide('slide', {}, 500, function () {
                    $("#design${_id}").show('slide', {}, 500);
                });
            },
            preview: doc_cmd,
            run: function () {
                window.open('/emulator/preview?_id=${_id}&page=1');
            },
            save: function () {
                $.post('/data/savedoc', $("#design${_id}").serializeArray(), function (data) {
                    alert(data);
                });
            }
        });
    });
</script>

