<style>
    .metaObject{margin: 5px; font-size: 0.88em;}
    .tbdesigner {border: 1px solid #DEDEDE; background: #fff ;padding: 4px 4px 0 4px;   }
    .tbdesigner>a{display: inline-block; height: 16px; width: 16px;vertical-align: middle; margin: 2px 4px;}

</style>

<div id="path_p${_id}" align="top"  style='height: 32px;margin: 5px;'>
    <div id="path${_id}" ></div>
</div>

<div id="design${_id}" align="auto" style="overflow: auto; border: 1px solid #d3d3d3; margin: 5px;" ></div>
<div id="preview${_id}" align="auto" class="ModulePage" style="overflow: auto; border: 1px solid #d3d3d3; margin: 5px;display: none" ></div>

<script src="/javascripts/uicontrols/uicontrols.js" type="text/javascript"></script>
<script src="/javascripts/LAB.min.js" type="text/javascript"></script>
<script>
    $('#design${_id}').jsoneditor( {{html str}} , "${type}")
        .jsoneditorcreateNavigation('#path${_id}', { homePath: "${type}" });

    var doc_cmd = function (cmd) {
        $("#design${_id}").hide('slide', {}, 500, function () {
            $("#" + cmd + "${_id}").show('slide', {}, 500, function () {
                $("#" + cmd + "${_id}").preview($("[name$='ModulePages[0][UI]']").val());
            });
        });
        return false;
    }
    $(function () {
        $('#design${_id}').parent().layout();
        $('#toolbar').toolbar({
            design: function () {
                $("#design${_id}").parent().find('[align=auto]').hide('slide', {}, 500, function () {
                    $("#design${_id}").show('slide', {}, 500);
                });
            },
            preview: doc_cmd
        });
    });
</script>
