    <script id="tpTable" type="text/x-jquery-tmpl">
        <div class="table flowNode" style='width:200px' nodeId = '${TableName}'>
            <div class="nodeLayer headLayer" >${TableName}<a class='edit dialog' href='/flowchart/edit/${_id}'></a></div>
            {{each cols}}
                <div linkTo='${linkTo}' class='nodeLayer{{if(PK)}} pk{{/if}}' ${PK} 
                type='type${Type}' nodeLayerId='${ColumnName}'>
                    <span class='indicator'>>></span>
                    ${ColumnName}
                    <span class='linePoint'></span>
                </div>
            {{/each}}
        </div>
    </script>


    <script id="tpIndex" type="text/x-jquery-tmpl"> 
        <th><a href='#' class="index"></a><a href='#' class='rename'></a><input /><a href='#' class='delIndex'></a></th>
    </script> 

    <script id="tpIndexColumn" type="text/x-jquery-tmpl"> 
        <td class='index'></td>
    </script> 
