    <script id="tpTable" type="text/x-jquery-tmpl">
        <div class="table">
            <div class='nodeLayer header'>${TableName}<div>
        
            {{each cols}}
                <div linkTo='${linkTo}' class='nodeLayer{{if(PK)}} pk{{/if}}' ${PK} >
                    <span class='indicator'>>></span>
                    ${ColumnName}
                    <span class='linePoint'></span>
                </div>
            {{/each}}
        
        </div>
    </script>


    <script id="movieTemplate" type="text/x-jquery-tmpl"> 
    <li> 
        <b>${Name}</b> (${ReleaseYear}) 
    </li> 
    </script> 
