    <script id="tpTable" type="text/x-jquery-tmpl">
        <div class="table flowNode" style='width:200px' nodeId = '${TableName}'>
            <div class="nodeLayer headLayer" >${TableName}<a class='edit'></a></div>
            {{each cols}}
                <div linkTo='${linkTo}' class='nodeLayer{{if(PK)}} pk{{/if}}' ${PK} 
                type='type${Type}' nodeLayerId='${ColumnName}'>
                    <span class='indicator'>>></span>
                    ${ColumnName}
                    <span class='linePoint'></span>
                </div>
            {{/each}}
        </div>
    </script>


    <script id="movieTemplate" type="text/x-jquery-tmpl"> 
    <li> 
        <b>${Name}</b> (${ReleaseYear}) 
    </li> 
    </script> 
