<div class="tb-design" style='width:800px;  display: inline-block;' >
    <span class="caption"><a href="#" >表名:</a><input value="${TableName}" /> </span>
    <table class="ui-widget ui-widget-content">
        <thead class="ui-widget-header">
            <tr><th>字段名</th><th>字段描述</th><th>说明</th><th>大小</th><th><a class="addIndex" href="#"></a></th></tr>
        </thead><tbody>
        {{each cols}}
            <tr>
                <td><input value='${ColumnName}'></td>
                <td><input value='${Caption}'></td>
                <td><input value='${Summary}'></td>
                <td><input value='${Size}'></td>
            </tr>
        {{/each}}
    </tbody></table>            
</div>

