 
<div style="width: 2000px;height:1500px ;padding: 0px;" id='flowView'></div>
 
<script>
    $(function () {
        $.ajaxSetup({ cache: false });
        //$('#flowView').flowchart_demo().wrapChart({}).flowchart({ containerHeight: "500px", containerWidth: "1300px" }  ).thumbnail();
        // $('body').html($.trim($('body').html()));
        $('#flowView').wrapChart({}).dbchart_demo();
        $.autoHeight({ '.chartContainer': "89" }, true, function () {
            $('.chartContainer').thumbnail({ resetThumb: true });

        });
    });
</script>