<div id="tabs" align="auto" layout="v" class="headerTabs">
    <ul align="top">
    </ul>
</div>
<div section="nav" style="padding: 5px;" align="auto" id="navtree" >
    <ul id="tree">
        <li class="open"><span class="folder">搜索</span></li>
        <li class="open"><span class="folder">捷径</span>
            <ul>
                <li><a href="#/data/doc?table=MetaTable&_id=4fb9e62362de5d0f208411ed&" title="tAcceptCoupon">tAcceptCoupon</a></li>
                <li><a href="#/data/doc?table=MetaModule&_id=507297f35722eb4838cde197&" title="收货对帐">收货对帐</a></li>
                <li><a href="#/data/doc?type=module&table=MetaModule&_id=507297f45722eb4838cde1bc&ModuleID=10013" title="发票录入及结算单审核">发票录入及结算单审核</a></li>
                
                <li><a href="#/demo/uidesigner" title="UI设计">UI设计</a></li>
            </ul>
        </li>
        <li class="open" data="type=root&recursion=true" id="project" ><span class="folder">系统</span>
            <ul>
                
            </ul>
        </li>
    </ul>
    {{partial "../public/javascripts/jquery.fitui/tmpl.jsoneditor.ejs"}}

</div>

<script>
    var saveState = function (state) {
        $.post('/account/savestate/TabTree', state);
    }

    $(document).ready(function () {
        $.get('/flowchart/tree?type=root&recursion=true', function (data) {
            $.fitui.render_li($("#tree>li#project>ul"), data, '#/data/doc');
            $("#tree").ajaxtree({ url: '/flowchart/tree', href: '#/data/doc',
                stateGroup: "tabtree",
                stateId: "NavTree",
                saveState: saveState, restoreState: function () {
                    alert(1);
                }
            });
        });

        var contentTab = {{html tabstate}};
        var onCreateTab = function (tab) {
            tab.attr('align', 'auto')
                    .attr('layout', 'v').css('padding', '0px').parent().layout();
            $.autoHeight({}, true);
        };
        $('#tabs').ajaxTabs1(
            {
                a_selector: "#tree a",
                stateSetting: {
                    lastState: contentTab,
                    stateId: "ContentTab",
                    stateGroup: "tabtree",
                    saveState: function() { alert('saveState'); }
                },
                create: onCreateTab
                }
        );

      /*  $('#tabs').ajaxTabs({ a_selector: "#tree a",
            stateId: "ContentTab",
            stateGroup: "tabtree",
            saveState: saveState, restoreState: function () {
                var contentTab = {{html tabstate}};
                if (contentTab) {
                    for (var i in contentTab.OpenTabs)
                        $.ajaxTab.openTab(contentTab.OpenTabs[i].MetaType, contentTab.OpenTabs[i].Url, contentTab.OpenTabs[i].Text, false, onCreateTab);
                    $tabs.tabs("select", contentTab.LastIndex);
                    $.ajaxTab.tabCheckLoad($tabs.find('li.ui-state-active').attr('index'));
                }
            },
            create: onCreateTab
        });
        */

    });
</script>
