<!DOCTYPE html>

<html>
<head>
    <title>dbshub.com</title>
    <script src="/javascripts/jquery-ui-1.9.0/js/jquery-1.8.2.js" type="text/javascript"></script>
    <script src="/javascripts/jquery-ui-1.9.0/js/jquery-ui-1.9.0.custom.min.js" type="text/javascript"></script>
    <link href="/javascripts/jquery-ui-1.9.0/css/smoothness/jquery-ui-1.9.0.custom.min.css" rel="stylesheet" type="text/css" />
    <script src="/javascripts/jquery.tmpl.min.js" type="text/javascript"></script>
    <script src="/javascripts/jc.dialog/jquery.dialog.js" type="text/javascript"></script>
    <link href="/javascripts/jc.dialog/dialog.css" rel="stylesheet" type="text/css" />
    <script src="/javascripts/jquery.treeview/jquery.treeview.min.js" type="text/javascript"></script>
    <link href="/javascripts/jquery.treeview/jquery.treeview.css" rel="stylesheet" type="text/css" />

    <script src="/javascripts/jquery.fit/site.js" type="text/javascript"></script>
    <script src="/javascripts/jquery.fitui/jquery.fit.js" type="text/javascript"></script>
    <script src="/javascripts/jquery.fitui/jquery.fitui.layout.js" type="text/javascript"></script>
    <script src="/javascripts/jquery.fitui/jquery.fitui.js" type="text/javascript"></script>
    <script src="/javascripts/jquery.fitui/jquery.fitui.jsoneditor.js" type="text/javascript"></script>
    <link href="/javascripts/jquery.fitui/jquery.fitui.css" rel="stylesheet" type="text/css" />

    <script src="/javascripts/CodeMirror-2.11/lib/codemirror.js" type="text/javascript"></script>
    <script src="/javascripts/CodeMirror-2.11/mode/plsql/plsql.js" type="text/javascript"></script>
    <link href="/javascripts/CodeMirror-2.11/lib/codemirror.css" rel="stylesheet" type="text/css" />
    <link href="/javascripts/CodeMirror-2.11/theme/default.css" rel="stylesheet" type="text/css" />

    <script src="/javascripts/jquery.flowchart/jquery.flowchart.js" type="text/javascript"></script>
    <script src="/javascripts/jquery.flowchart/flowchart.js" type="text/javascript"></script>
    <link href="/javascripts/jquery.flowchart/jquery.flowchart.css" rel="stylesheet" type="text/css" />
    <script src="/javascripts/jquery.dbchart.js" type="text/javascript"></script>

    <script src="/javascripts/site.js" type="text/javascript"></script>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />
    <style>
        .logo-container {clear: left; color: #BBBBBB; float: left;  font-size: 0.92em; margin-left: 10px; padding: 0; text-decoration: none;width: 264px;} 
        .search_input { display: inline-block;vertical-align: middle;}
        .search_input .input_span { background: url("/images/tabimg.png?v=20120918") no-repeat scroll -403px -108px transparent; display: inline-block; height: 34px; margin: 1px 10px 0 0;width: 97px;}
        .search_input input { background: url("/images/tabimg.png?v=20120918") no-repeat scroll -204px -108px #DDDDDD; border: 0 none; cursor: pointer; font-size: 14px; height: 32px;padding: 0; width: 95px;}
    </style>
    <script>

        $(function () {
            $.initLayout();
            $('[section=nav]').appendTo('#nav');
            if ($('#toolbar').children().size() == 0) $('#toolbar').hide();
            else $('#toolbar button').button();
        });
    </script>
    
</head>
<body style="padding:0px;margin:0px;" layout="v" id="body">
    <header align="top" >
        <a href="/">首页</a>
        <a href="/flowchart/index">流程</a>
        <a href="/documentation">文档</a>
        <select style="float: right;margin: 3px  10px;color: #000">
            {{each projects}}
                <option><a href="/project/${_id}" title="布局layout">${ProjectName}</a></option>
            {{/each}}
        </select>

    </header>
    <div align="top" class="header" style="height: 60px;background: #f3f3f3" layout="h" >
        <a href="/" id="logo-container" class="logo-container" style="" align="left">
                <img style="border:0px; display:inline-block;height:48px;vertical-align:middle" src="/images/Sparus.png">
                <h1 style="display:inline-block; vertical-align:middle">Sparus</h1>
        </a>
        <div id="search" align="auto" style="padding: 12px">
            <input type="text" id="search-input" class="jfk-textinput  " title="搜索" style="    background: none repeat scroll 0 0 #FFFFFF; border: 1px solid #CCCCCC; border-radius: 1px 1px 1px 1px; font-size: 14px; height: 24px; margin: 0 6px 0 0; max-width: 50%; min-width: 384px; padding: 3px 0 0 8px; vertical-align: middle;">
            <div class="search_input">
                <span class="input_span"><input type="submit" value="搜索" id="btnSearch" /></span>
                <a class="search_option" id="search_option" style="color:#0000CC">高级选项</a>
            </div>
        </div>
    </div>
    
    <div align="auto" layout="h" id="main" style="height: 100px;">
        <nav align="left" style="width: 300px;" id="nav">
            <div align="top" class="toolbar" id ="navtoolbar" style="height: 36px;padding-top: 10px;">
                <h3 style="margin: 0px;color: #DD4B39;font-size: 1.5em;">导航菜单</h3></div>
            <header align="top" id="navheader" style="height:1px;margin-bottom: 10px;"></header>
        </nav>
        <div align="spliter" id="spliter" style="margin: 46px 0 0 0;"></div>
        <div align="auto" id="content" layout="v">
            <div align="top" class="toolbar" id ="toolbar" style="height: 36px;padding-top: 10px;" layout="h">
                {{partial(toolbar) "_toolbar.html"}}
            </div>
            {{html body}}
        </div>
    </div>
    <footer align="bottom" ></footer>
</body>
</html>



