<!DOCTYPE html>

<html>
<head>
    <title>dbshub.com</title>
    <script src="/javascripts/jquery-ui-1.9.0/js/jquery-1.8.2.js" type="text/javascript"></script>
    <script src="/javascripts/jquery-ui-1.9.0/js/jquery-ui-1.9.0.custom.min.js" type="text/javascript"></script>
    <link href="/javascripts/jquery-ui-1.9.0/css/smoothness/jquery-ui-1.9.0.custom.min.css" rel="stylesheet" type="text/css" />
    <script src="/javascripts/jquery.tmpl.min.js" type="text/javascript"></script>
    <script src="/javascripts/jc.dialog/jquery.dialog.js" type="text/javascript"></script>
    <link href="/javascripts/jc.dialog/dialog.css" rel="stylesheet" type="text/css" />

    <script src="/javascripts/jquery.flowchart.js" type="text/javascript"></script>
    <script src="/javascripts/flowchart.js" type="text/javascript"></script>
    <script src="/javascripts/metaTable.js" type="text/javascript"></script>

    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />
    
    {{partial "_tmpl.ejs"}}
    
</head>
<body style="padding:0px;margin:0px;">
    <div class="header">
        <div class="left">
            <a href="/struct/index">数据结构</a>
        </div>
        <div class="right">
            <ol>
                <li> <span> lobby@21cn.com (<a href="/logout">退出</a>) </span></li>
                <li> <select id="combobox"> </select></li>
                <li><a style="display:inline-block;width:18px;height:18px; background: url(&quot;/images/h_bedf916a.png&quot;) repeat scroll 0 0 transparent;" href="/Account/Setting"></a></li>
            </ol>
        </div>
        <div style="clear:both"></div>
    </div>
    <div id="top-bar"></div>
	{{html body}}
    <a href="/table" class="dialog">ooohh, look at this ma!</a>
</body>
</html>



