body { padding: 50px; font-family: Verdana,helvetica,arial,sans-serif;  font-size: 88%;  }
a { color: #00B7FF;}

.header { background: none repeat scroll 0 0 #2D2D2D; color: #CCCCCC !important; font-size: 0.88em; height: 18px; padding: 6px;}
.header div.left {float: left; margin-right: 20px;}
.header div.right { float: right; }

.header div.right ol { display: block; list-style: none outside none; margin: 0; padding: 0;}
.header div.right li { display: inline-block; }

#top-bar { background: none repeat scroll 0 0 #F5F5F5; border: 1px solid #E5E5E5; display: block; height: 30px; width: auto;}
.chartContainer {width: auto;}
canvas.flowchart {background: url("/images/bg.png")}
div.table table {
    border-collapse: collapse;
    padding: 0px;
}
div.table div.nodeLayer[type=type3] {
    background:  #C8FFC8    
}

div.table div.nodeLayer.headLayer {
    background-color: #DDDDDD;
    border-top: 0px;
    text-align: center;
    padding: 3px;
}

div.table  div.nodeLayer.sel {
    padding-left: 10px;
}

span.indicator{ display: none;font-size: 0.75em; color: red; padding: 0px;  vertical-align: middle;
}

div.table div.nodeLayer.sel span.indicator{ display:  inline-block}

div.table div.nodeLayer{
    
}
