<script id="metaObject" type="text/x-jquery-tmpl">
    {{if array}}
        {{tmpl(data) "#metaPropArray"}}
    {{else}}
        <div class="prop" caption="${data.caption}" {{if data.lineshow}}lineshow{{/if}} {{if data.hide}}style='display:none'{{/if}} path="${data.path}">
            <label >${data.caption}</label>
            {{tmpl(data) "#editor"}}
            {{if data.designer}}<a class="fullscr" href="#" title ="${data.path}"></a>{{/if}}
        </div>
    {{/if}}

</script>

<script id="metaPropArray" type="text/x-jquery-tmpl">
    <fieldset  class="zip array" caption="${caption}" {{if reference}}ref_type=${reference.type} ref_join=${reference.join} {{/if}} path="${path}">
        <legend><span >${caption}</span> <a href="#" class="zip" style="text-decoration:none"></a> <a class="fullscr" href="#" title ="${path}"></a></legend>
        <span class="count" style="display:none"></span>
        {{each value}}
            <div class="row zip unzip {{if tmplrow }}tmpl{{/if}} inline" caption="${$index}" path ="${path}.${$index}" >
                <a href="#" class="delRow"></a>
                <span class="rowIndex">${$index}</span>) 
                <a href="#" class="zip" style="text-decoration:none"></a>
                <a class="fullscr" href="#" title ="${path}.${$index}"></a>

                {{tmpl($value) "#metaObject"}}
            </div>
        {{/each}}
        
    </fieldset>
</script>

<script id="editor" type="text/x-jquery-tmpl">  
    {{if input }}
        <input type="${editor}" {{if editor == "checkbox" }}{{if value}}checked="checked" {{/if}}value="true"{{else}}value ="${value}"{{/if}} 
    {{else}}
        <${editor} 
    {{/if}}
    {{if tmplrow }}field{{/if}}name='${name}' 
    {{if identity }} identity {{/if}}
    {{if (readonly||reference) }} readonly {{/if}}

    {{if input}}
        />
    {{else}}
        >
        {{if editor == "select" }}
            {{tmpl({selection: selection, selValue: value}) "#select-option"}}
        {{else}}
            ${value}
        {{/if}}
        </${editor}>
    {{/if}}

</script>

<script id="select-option" type="text/x-jquery-tmpl">  
    {{each selection}}
    <option value="${key}" {{if key == selValue}}selected="selected"{{/if}}>${value}</option>
    {{/each}}
    <option value="" {{if undefined==selValue}}selected="selected"{{/if}}></option>
</script> 