/* CSS Document */


.icon_add{background:url(icons/add.png) left top no-repeat;}
.icon_cancel{background:url(icons/cancel.png) left top no-repeat;}
.icon_cut{background:url(icons/cut.png) left top no-repeat;}
.icon_edit{background:url(icons/edit.png) left top no-repeat;}
.icon_save{background:url(icons/save.png) left top no-repeat;}
.icon_key{background:url(icons/key.png) left top no-repeat;}
.icon_settings{background:url(icons/settings.png) left top no-repeat;}
.icon_help{background:url(icons/help.png) left top no-repeat;}
.icon_home{background:url(icons/home.png) left top no-repeat;}

