<script type='text/x-jquery-tmpl' id="uitpxyGrid">
   <div class="xyGrid"> </div>
</script>

<style >
    /* CSS Document */

/*基本*/
.GridExtenPlus {
	border:1px solid #000;
	overflow:auto;
	font-size:12px;
	padding:2px;
	}
.GridExtenPlus .dbody{
	overflow:auto;
	overflow-x:hidden;
	}
.GridExtenPlus .line{
	position:absolute;
	display:none;
	width:1px;
	height:200px;
	top:0;
	left:0;
	background-color:#F00;
	border-style:none;
	}
	
/*应用样式*/
.GridExtenPlus table{
	border-collapse:collapse;
	}
.GridExtenPlus table,.GridExtenPlus table td{
	border:1px solid #CCCCCC; 
	border-style:none solid solid none;
	white-space:nowrap;
	padding:2px 0px;
	}
.GridExtenPlus table td{
	overflow:hidden;
	}
.GridExtenPlus table.thead,.GridExtenPlus table.tfoot{
	border-style:solid solid solid solid;
	}
.GridExtenPlus table.tbody{
	border-style:none solid solid solid;
	}
.GridExtenPlus table tr{
	border:none solid solid none;
	height:23px;
	cursor: default;
	}
.GridExtenPlus table td div{
	padding:0 5px;
	}
.GridExtenPlus table span.tab_down{
	display:block;
	width:23px;
	height:16px;
	background:url(/javascripts/uicontrols/images/datagrid/reload.png) center center no-repeat;
	}
.GridExtenPlus table.thead td.zClum:hover{
	background:none;
	background-color:#EDEDED;
	}
/*下面是样式*/
.GridExtenPlus table.thead tr{
	background:url(/javascripts/uicontrols/images/datagrid/header_bg.gif) repeat-x;
	cursor:pointer;
	}
.GridExtenPlus table td{
	padding:2px 5px;
	}	
.GridExtenPlus table td.zClum{
	background:url(/javascripts/uicontrols/images/datagrid/header_bg.gif) repeat-x;
	text-align:center;
	cursor:pointer;
	min-width:23px;
	padding:0;
	}
.GridExtenPlus table.tbody tr{
	background-color:#E1F0FF;
	}
.GridExtenPlus table.tbody tr.stripe{
	background-color:#EEEEFF;
	}	
/*行鼠标经过样式*/
.GridExtenPlus table.tbody tr:hover{
	background-color: #A9DBF3;
	}
.GridExtenPlus table.tbody tr:hover td.zClum{
	background:none;
	background-color:#EFEFEF;
	}
.GridExtenPlus table.tbody tr.hover{
	background-color:#0CF;
	}	
.GridExtenPlus table.tbody tr.hover td.zClum{
	background:none;
	background-color:#CCC;
	}
	
</style>


<script type='text/x-jquery-tmpl' id="uitpxyGridTable">
<div id="${name}" class="xyGridTable" >
    <div>
        <table id="${name}_head" >
          <tr>
            {{each data.columns}}
                <td>{{if metaField}}${metaField.DisplayLabel}{{else}}${fieldName}{{/if}}</td>
            {{/each}}
  
        </tr>
        </table>
    </div>
    <div>
        <table id="${name}_body" >
            {{each data.rows}}
             <tr {{if ($index == 0)}} class="first" {{/if}}>
                {{each $value}}
                    <td>
                        <input value="${value}" />
                    </td>
                {{/each}}
            </tr>
            {{/each}}
        </table> 
    </div> 
    <div>  
        <table id="${name}_foot" >
        <tr>
            {{each data.columns}}
                <td>{{if $index==0}}合计{{/if}}</td>
            {{/each}}
        </tr>                
        </table>
    </div>
</div>
</script>
