<style >
    .ModulePage .FlowBar { margin-top: 20px; }
    .ModulePage .FlowBar ul { height:32px}
    .ModulePage .FlowBar>div { height: 50px; }
    .ModulePage .FlowBar p.desc { display: inline-block }
    .ModulePage .flowcmd { float: right; padding: 10px;  width: 200px;  text-align: right; }
    .ModulePage .FlowBar > .ui-widget-header { background: url("/javascripts/uicontrols/images/tbbg.png") repeat scroll 0 0 transparent  }
</style>

<script type='text/x-jquery-tmpl' id="uitpFlowBar">
    <div class="FlowBar">
        <ul>
        {{each data}}
            <li><a href="#tabs-${ID}">${Summary}</a></li>
        {{/each}}
        </ul>
    {{each data}}
        <div id="tabs-${ID}">
            <p class="desc">${Description}</p>
            <div class="flowcmd">
                {{each Action}}
                <input value="${Summary}" description="${Description}" type ="button" />
                {{/each}}
            </div>
            <div style="clear:both"></div>
        </div>    
        
    {{/each}}
    </div>
</script>

