
<style >
    
    
</style>

<script type='text/x-jquery-tmpl' id="uitplfLayout">
    <div class="lfLayout" id="lfLayout">
        
    </div>
</script>


<script type='text/x-jquery-tmpl' id="uitplfLayout_page">
    <div id="${name}" class="lfLayout_page" style="width: 1413px; height: 471px; top: 86px; left: 250px;">
         <div class="page_head">
          <span class="modname">  90002.用户管理</span>
        </div>

        <div class="page_body" style="height: 444px;" uicontainer="${name}">

        </div>
    </div>
</script>

<script type='text/x-jquery-tmpl' id="uitplfUserBar">
    <div class="lfUserBar" id="lfUserBar">
        
    </div>
</script>

<script type='text/x-jquery-tmpl' id="uitplfLayout_foot">
    <div class="lfLayout_foot" id="lfLayout_foot">
        
    </div>
</script>

<script type='text/x-jquery-tmpl' id="uitplfLayout_head">
    <div class="lfLayout_head" id="lfLayout_head">
        
    </div>
</script>

<script type='text/x-jquery-tmpl' id="uitplfLayout_menu">
    <div class="lfLayout_menu" id="lfLayout_menu">
        
    </div>
</script>


<script type='text/x-jquery-tmpl' id="uitpAccordionMenu">
    <div class="AccordionMenu" id="AccordionMenu">
        
    </div>
</script>
