
<style >
    .ModulePage {
        background: none repeat scroll 0 0 #D8E8FF;
        padding: 10px;
    }
</style>

<script type='text/x-jquery-tmpl' id="uitpModulePage">
    <div class="ModulePage">
        
    </div>
</script>


<script type='text/x-jquery-tmpl' id="tpEditor">
    {{if metaField.EditorType=="LIST" }}
        <select name="${name}" id="${id}" >
            {{each metaField.Selection}}
            <option value="${key}" selected="selected">${value}</option>
            {{/each}}
            <option value="" selected="selected"></option>
        </select>
    {{else}}
        <input value="${Value}" name="${name}" id="${id}" 
            class="editor {{if metaField.EditorType=="DATE" }}DateEditor{{/if}}" {{if metaField.EditorType=="DATE" }}type="date"{{/if}}
        />
    {{/if}}
    
</script>
