
<style >
    .ModulePage {
        background: none repeat scroll 0 0 #D8E8FF;
        padding: 10px;
    }
</style>

<script type='text/x-jquery-tmpl' id="uitpModulePage">
    <div class="ModulePage">
        
    </div>
</script>


<script type='text/x-jquery-tmpl' id="tpEditor">
    <input value="${Value}" name="${ParamName}" id="查询条件_${ParamName}" 
        class="editor {{if metaField.EditorType=="DATE" }}DateEditor{{/if}}" {{if metaField.EditorType="DATE" }}type="date"{{/if}}
    />

</script>
