<style >
    fieldset.QueryParams{width:auto; min-height:100px;} 
    fieldset.QueryParams>*{} 
    .QueryParams {float:left; min-width:220px} 
    .QueryParams .ui-accordion-content{background:#d8e8ff; border-color:#7791ac} 
    .QueryParams h3{ background:url('images/queryparam_bg.png'); border-color:#7791ac} 
    .QueryParams .ui-icon-triangle-1-s{ background-position: -97px -128px} 
    span.caption{ background:#eee; display:inline-block; border-width:0px 0px 1px 0px; border-color:#7791ac; border-style:solid; width:100%;padding:10px 0 ; 
    color:#666;font-size: 1.2em;font-weight: bold;text-align: left;} 
    span.caption a{color:#36688D} 
    .qg_container {    border: 1px solid #7791AC;    margin: 0 10px 10px;    overflow: auto;    width: 5000px;}
</style>


<script type='text/x-jquery-tmpl' id="uitpQueryParams">
    <div class="QueryParams" grid="${grid}" paramAsString="${paramAsString}">
        {{tmpl({sheets: groups}) "#uitpAccordion"}}
    </div>
</script>

<script type='text/x-jquery-tmpl' id="uitpAccordion">
    <div class="Accordion"  >
        {{each sheets}}
            <h3><a href="#">${caption}</a></h3>
            <div>
                <form method="get">
                    {{each queryParams}}
                        <div style="display:block">
                        <label>${DisplayLabel}</label><br/>
                        <input value="${Value}" name="${DisplayLabel}" id="查询条件_${DisplayLabel}" class="editor DateEditor hasDatepicker">
                        <br><br>
                    {{/each}}
                </div>
            </div>
        {{/each}}
    </div>
</script>