
<style >
    .Toolbar > input.PageButton.new {background: url("/javascripts/uicontrols/images/new.png") no-repeat scroll 0 0 transparent;}
    .Toolbar > input.PageButton.edit {background: url("/javascripts/uicontrols/images/edit.png") no-repeat scroll 0 0 transparent;}
    .Toolbar > input.PageButton.save {background: url("/javascripts/uicontrols/images/save.png") no-repeat scroll 0 0 transparent;}
    .Toolbar > input.PageButton.back {background: url("/javascripts/uicontrols/images/back.png") no-repeat scroll 0 0 transparent;}
    .Toolbar > input.ui-button {background: none repeat scroll 0 0 transparent;border: 0 none;color: #234369;height: 16px;margin-bottom: 4px;padding: 0 18px;width: auto;}
    
    .ModulePage .Toolbar>div.logo {background: url('/javascripts/uicontrols/images/tblogo1.gif') no-repeat scroll 0 0 transparent; display: inline-block;height: 38px; margin-right: 10px;margin-top: 4px;width: 38px; }
    .ModulePage .Toolbar {background: url('/javascripts/uicontrols/images/tbbg.png') repeat scroll 0 0 transparent;height: 43px;margin: -10px -10px 10px;padding: 0 0 0 20px;width: 100%; }
    
    .ModulePage .Toolbar>input, .ModulePage .Toolbar>div {vertical-align: middle;} 
    
</style>

<script type='text/x-jquery-tmpl' id="uitpToolbar">
    <div class="Toolbar">
        <div class="logo"></div>
    </div>
</script>

