<script type='text/x-jquery-tmpl' id="uitpxyEditorItems">
    <div class="xyEditorItems">
        {{each  data}}
            <div class="input_items">
                <div title="${column.metaField.DisplayLabel}" class="input_items_lable">
                  ${column.metaField.DisplayLabel}
                </div>
                <div class="input_items_input">
                    {{tmpl({name: column.fieldName, id: column.fieldName, metaField:column.metaField, Value: value}) "#tpEditor"}}
                </div>
            </div>
        {{/each}}
    </div>
</script>

<script type='text/x-jquery-tmpl' id="uitpxyQuickRec">
    <fieldset class="xyQuickRec">
        <legend>快速录入</legend>
        {{if column}}
            <div class="input_items quickKey">                 
                <div class="input_items_lable" title="${column.metaField.DisplayLabel} ">${column.metaField.DisplayLabel} </div>
                <div class="input_items_input">                               
                    <input /><a href="#" class="quickCmd quickDialog"></a><a href="#" class="quickCmd quickDel"></a>
                </div>             
            </div>
        {{/if}}

    </div>
</script>



<style >
    
.xyEditorItems .input_items {
    display: inline-block;
    font-size: 12px;
    height: 50px;
}
.xyEditorItems .input_items .input_items_lable {
    display: block;
    overflow: hidden;
    padding: 5px 0 0 5px;
    white-space: nowrap;
}
.xyEditorItems .input_items .input_items_input {
    display: block;
    padding: 2px 0 0 5px;
}
.xyEditorItems .input_items .input_items_input input {
    display: inline-block;
    
    vertical-align: middle;
}
.xyEditorItems .input_items .input_items_input a.i_sch {
    background: url("images/icon5.gif") no-repeat scroll center center transparent;
    border: medium none;
    cursor: pointer;
    display: inline-block;
    height: 16px;
    margin-left: 2px;
    outline: medium none;
    vertical-align: middle;
    width: 16px;
}
.xyEditorItems .input_items .input_items_input select {
    display: inline-block;
    height: 21px;
    vertical-align: middle;
    width: 135px;
}

    .xyQuickRec {margin-top: 10px; padding: 0px; border: 1px solid rgb(170,170,170)}
    .xyQuickRec legend {padding: 0px 10px;}
    .xyQuickRec .quickKey {background: #ddd; display: inline-block; margin: 0px 0px 0px 5px;padding: 5px; border: 1px dotted gray}
    .xyQuickRec .xyEditorItems {display: inline-block; margin: 5px; }
    .xyQuickRec a.quickCmd {display: inline-block; margin: 0 5px; height: 16px; width: 16px;}
    .xyQuickRec a.quickDialog {background: url("/javascripts/uicontrols/images/dialog.png") no-repeat scroll 0 0 transparent;}
    .xyQuickRec a.quickDel {background: url("/javascripts/uicontrols/images/remove.png") no-repeat scroll 0 0 transparent;}
</style>

