
<style>
    .ui-tabs-panel{  overflow: auto;}
    #tabs.ui-tabs .ui-tabs-nav li.ui-tabs-active a {cursor: pointer }
</style>
<div section="nav">
    <ul id="tree">
        <li class="open"><span class="folder">捷径</span>
            <ul>
                <li><a href="#/data/doc?table=MetaTable&_id=4fb9e62362de5d0f208411ed&" title="tAcceptCoupon">tAcceptCoupon</a></li>
                <li><a href="#/data/doc?table=MetaModule&_id=507297f35722eb4838cde197&" title="收货对帐">收货对帐</a></li>
                <li><a href="#/demo/uidesigner" title="UI设计">UI设计</a></li>
            </ul>
        </li>
        <li class="open"><span class="folder">视图</span>
            <ul>
                {{each dbviews}}
                <li><a href="#/flowchart/view/${_id}" title="布局layout">${Caption}</a></li>
                {{/each}}
                <li><a href="#/flowchart/view/demo_view" title="demo">demo</a></li>
                <li><a href="#/flowchart/view/000000000000000000000000" title="新视图">新视图</a></li>
            </ul>
        </li>
        <li data="type=tables" _id=""><span class="folder">表</span>
            <ul>
                <li fake=1></li>
            </ul>
        </li>
    </ul>
    {{partial "../public/javascripts/jquery.fitui/tmpl.jsoneditor.ejs"}}
</div>

<div id="tabs" align="auto" layout="v">
    <ul align="top">
    </ul>
</div>
 {{partial "_tmpl.ejs"}} 
<script>
    $(function () {
        $("#tree").ajaxtree({url: '/flowchart/tree', href: '#/data/doc'});
        $('#tabs').ajaxTabs({ a_selector: "#tree a",
            saveState: function () { }, restoreState: function () { },
            create: function (tab) {
                tab.attr('align', 'auto')
                    .attr('layout', 'v').css('padding', '0px').parent().layout();
                $.autoHeight({}, true);
                $('#tabs>ul>li>a').unbind('click.rename');
                $('#tabs>ul>li.ui-tabs-active>a').bind('click.rename', function () {
                    var name = prompt("更改流程图名", $(this).text());
                    if (name) $(this).text(name);
                });
                //$('<input name="Caption">').val(a.text()).insertBefore(a);a.hide();
            }
        })

        $.ajaxSetup({ cache: false });
        
        $('#toolbar button[cmd=save]').click(function () {
            var panel = $('#tabs .ui-tabs-panel[aria-hidden=false]');
            var position = [];
            panel.find('.flowNode').each(function () {
                position.push({ TableName: $(this).attr('nodeid'), Position: [$(this).css('left'), $(this).css('top')] });
            });
            var linkto = [];
            panel.find('.nodeLayer[linkTo]').each(function () {
                if ($(this).attr('linkTo'))
                    linkto.push({ Form: $(this).closest('.flowNode').attr('nodeid') + '.' + $(this).attr('nodelayerid'),
                        To: $(this).attr('linkTo').split(' ')
                    });
            });
            var data = {
                _id: panel.children('div.flowchart').attr('viewid'),
                Caption: $('#tabs>ul>li.ui-tabs-active>a').text(),
                Position: position,
                LinkTo: linkto
            };
            $.post('/flowchart/save', data, function () {
                $("#tabs").ajaxTabs({ reload: true });
            });
        });
        
    });
</script>